* {
    font-family:"Times New Roman", Arial, Verdana; 
    font-size: 16px;
    box-sizing:border-box;
    text-align: center;
}
body {
    background-color:greenyellow;
}
title {
    font-weight: 700;
    font-size: 24px;
}

h2 {
    font-weight: 700;
    font-size: 19px;
}
h1 {
    font-weight: 800;
    font-size: 22px;
}
h3 {
    font-weight: 700;
}
ul {
    font-weight: 600;
    list-style-position: inside;
}
ol {
    font-weight: 600;
    list-style-position: inside;
}
img {
    display: block;
    margin: 0 auto;
}